.header-container {
    border: solid;
}

.header-offer {
    width: 100%;
    margin: 0;
    border: solid;
    text-align: center;
}

.header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-items: center;
    border: solid;
}

.header-SBF {
    grid-column-start: 3;
    border:solid;
}

.img-stunt {
    grid-column-start: 2;
    height: 100px;
}
