.header-container {
}

.header-offer {
    width: 100%;
    margin: 0;
    padding-top: 3px;
    height: 2em;
    text-align: center;
    background-color: rgba(6, 90, 24, 0.651);
    color: white;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.header-SBF {
    grid-column-start: 3;
    justify-self: end;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.header-SBF * {
    margin: 5px;
}

.img-stunt {
    grid-column-start: 2;
    justify-self: center;
    height: 75px;
    margin: 10px;
}
