.product-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.products-title {
    padding-top: 80px;
    letter-spacing: 2px;
}

.product {
    padding: 10px 20px;
}

.product-name {
    margin: 0;
    padding-top: 1px;
    font-size: 0.7em;
    font-weight: 500;
}

.product-price {
    margin: 0;
    padding-top: 1px;
    font-size: x-small;
}